{% extends "bootstrap/base.html" %}

{% block title %}What Is the Capital?{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('index') }}">State Capitals</a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <img src="/static/800px-Map_of_USA_{{ state_abbrev }}.png" />
  {% if answer_state_capital == state_capital %}
  <h3>Correct! Nice job. The capital of {{ state }} is {{state_capital }}.</h3>
  {% else %}
  <h3>Incorrect.  The capital of {{ state }} is {{ state_capital }}, not {{ answer_state_capital }}.</h3>
  {% endif %}
  <form method="POST" action="/question">
    <h3><input type="submit" name="answer" value="Play Again?"</h3>
  </form>

</div>
{% endblock %}
